// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.story-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.meta-data {
    font-size: 0.8rem;
}
.border-bottom {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 20px;
}
.medium-editor-element {
    word-wrap: break-word;
    min-height: 30px;
    border: 1px solid #ced4da;
    padding: 12px;
    border-radius: 5px;
    background-color: white;
}
